$blue: #57a6f8;
$green: #485a3c;
$yellow: #efd565;
$orange: #f7a635;
$red: #ee6a64;
$purple: #a770c1;
$pink: #f2a7dd;

$midi: 768px;
$mini: 414px;

.header {
  padding: 2em 0.5em 0.5em 0.5em;
  position: relative;

  &.stick {
    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    position: fixed;
    top: 0;
    width: 48em;
    height: 4rem;
    background-color: whitesmoke;
    z-index: 2;
    border-bottom: 1px solid slategray;
    img,
    .nav-bar {
      position: relative;
      //top: 2;
      //height: 4rem;
    }
    img {
      margin-top: -1em;
      height: 2.2em;
      //width: 9em;
      padding-left: 0.6em;
    }
    .nav-bar {
      position: relative;
      bottom: 2em;
      width: 25em;
      left: 20em;
    }
    @media only screen and (max-width: $midi) {
      width: 100%;
      margin-left: -1em;
      padding-left: 1.5rem;
      height: 4rem;
      img {
        margin-top: 0;
      }
      .nav-bar {
        position: fixed;
        top: 0em;
        width: 15em;
        height: 4em;
        left: 8em;
      }
    }
  }

  img {
    height: 3em;
    padding-left: 0.5em;
    //margin: 0 auto;
    //display: block;
  }
  .arrow {
    display: none;
  }
  .nav-bar {
    text-align: right;
    position: absolute;
    bottom: -0.3em;
    right: 2.6em;
    transition: color 0.25s;

    .linkBox {
      display: inline-block;
      text-align: center;
      min-width: 7em;
      max-width: 7em;
      padding: 0 0.5em;
    }
  }

  .router-link {
    display: inline-flex;
    margin: 0 0 0.25em 0.2em;
    padding: 0 0.2em;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    font-family: "Bungee Hairline", Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    letter-spacing: 0;
    color: darkslategray;
    position: relative;
    &:hover:not(.selected) {
      color: $orange;
      //letter-spacing: 0.1em;
      font-family: "Bungee Hairline", Helvetica, Arial, sans-serif;
      transition: font-size 0.2s ease, font-family 0.2s ease;
    }

    &:active {
      color: $green;
      //&.about{color:$blue;}
      //&.dev{color:$green;}
      //&.contact{color:$orange;}
      padding: 0 0.1em 0.1em 0.1em;
      font-size: 1.36em;
      letter-spacing: 0;
      font-family: "Bungee Outline", Helvetica, Arial, sans-serif;
      transition: padding 0.2s ease, font-family 0.2s ease;
    }

    &.selected {
      color: $orange;
      padding: 0.2em 0.1em;
      font-size: 1.36em;
      letter-spacing: 0.1em;
      font-family: "Bungee", Helvetica, Arial, sans-serif;
    }
  }

  @media only screen and (max-width: $mini) {
    border-bottom: 1px solid slategray;
    position: fixed;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    padding-top: 1em;
    height: 4em;
    z-index: 2;
    width: 100%;
    img {
      //width: 6em;
      height: 2em;
      margin: 0.5em auto;
      //display: block;
    }
    .arrow {
      display: block;
      position: absolute;
      top: 0.8em;
      right: 0.4em;
      animation: slide1 2s ease-in-out infinite;
      margin-left: 9px;
      margin: 0 1em;
      img {
        width: 1em;
        height: 0.5em;
        margin: 0 0.2em;
        //transform: rotate(180deg);
      }
    }
    .nav-bar {
      margin-right: -2em;
      padding: 2em 2em 0 0;
      height: 100%;
      .linkBox {
        text-align: left;
        font-size: 1em;
        width: 5em;
        min-width: 4em;
      }
      white-space: nowrap;
      overflow-x: scroll;
      .router-link {
        margin: -0.5em 0;
        font-size: 1.2em;
        &.selected {
        }
      }

      @keyframes slide1 {
        0%,
        100% {
          transform: translate(0, 0);
        }

        50% {
          transform: translate(0.3em, 0);
        }
      }
    }
  }

  @keyframes rise {
    0% {
      up: 0px;
    }
    50% {
      up: 0.2em;
      right: 0.1em;
    }
    100% {
      up: 0px;
    }
  }
}

#header-border {
  border-top: 0.1em solid slategray;
}
