$blue: #57a6f8;
$green: #404f36;
$yellow: #efd565;
$orange: #fe9400;
$red: #ee6a64;
$purple: #a770c1;
$pink: #f2a7dd;

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

body.fontLoaded {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#app {
  background-color: whitesmoke;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}

p,
label {
  font-family: Georgia, Times, "Times New Roman", serif;
  line-height: 1.5em;
}
