$blue: #57A6F8;
$green:#404F36;
$yellow: #EFD565;
$orange:#E2A148;
$red:#EE6A64;
$purple:#A770C1;
$pink: #F2A7DD;



$midi: 768px;
$mini: 414px;

.list-item-wrapper {
  //width: 100%;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  margin: 1em 0 2.5em 1.2em;
  padding: 0 0 1.5em 0;
  border-bottom: .1em solid #d7d8d9;
  //background-color: #d7d8d9;

  .pwords{
    width: 45%;
    padding:0.3em 0 0 0;
    text-align: right;

    .pheader {
      padding-right: .1em;
      font-family: 'Rajdhani', Helvetica, Arial, sans-serif;
      font-weight: 600;
     // text-decoration: underline $green ;
      color: $green;
      font-size: 1.4em;      
    }
  
    .pinfo {
      padding-top: .4em;
      text-align: justify;
      float: right;
      border-top-right-radius: .2em;
      font-family: 'Barlow', Helvetica, Arial, sans-serif;
      color:black;
      font-size: 1em;
      line-height: 1.1;
      font-weight: 300;
      //&.about{border-top: 0.06em dotted $blue;}
      //&.dev{border-top: 0.06em dotted $green;}
      //&.contact{border-top: 0.06em dotted $orange;}
    }
  }
  .pimg{
    align-items: center;
    width:55%;
    padding-right:1em;
    img{
      max-width:75%;
      //height: 100%;
      max-height: 24em;
      border-radius: 6%;
    }
  }

  @media only screen and (max-width: $mini) {
    .pwords{
      width: 100%;
      display: block;
      padding:0;
      .pheader, .pinfo {
        float: right;
        text-align: right;
      }
    }
    .pimg{
      display: block;
      width:100%;
      padding: .6em 0;
    }
  }

  @media only screen and (max-width: $midi) {
    .pwords{
      width: 100%;
      display: block;
      padding:0;
      .pheader, .pinfo {
        display: block;
      }
      .pheader{
        text-align: right;
      }
      .pinfo{
        float:right;
      }
    }
    .pimg{
      max-width: 80%;
      display: block;
      width:100%;
      padding: .6em 0;
    }
  }

  
}