$blue: #57A6F8;
$green:#85AC4E;
$yellow: #EFD565;
$orange:#E2A148;
$red:#EE6A64;
$purple:#A770C1;
$pink: #F2A7DD;

$midi: 768px;
$mini: 414px;

.work-item-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  margin: 2em 0 5em 0;
  a{
    text-decoration: none;
  }
  .pwords{
    width: 100%;
    padding:0.3em 0;
    text-align: right;
    .pheader {
      font-family: 'Bungee Inline', Helvetica, Arial, sans-serif;
      color:lightslategray;
      font-size: 1.8em;
      &:hover{
        color: $purple;
      }
    }
  
    .pinfo {
      padding-top: .4em;
      float: right;
      border-top-right-radius: .2em;
      font-family: 'Rajdhani', Helvetica, Arial, sans-serif;
      color:lightslategray;
      font-size: 1.2em;
      font-weight: 500;
      &.about{border-top: 0.06em dotted $blue;}
      &.dev{border-top: 0.06em dotted $green;}
      &.contact{border-top: 0.06em dotted $orange;}
    }
  }
  .pimg{
    //display: flex;
    //flex-direction: row;
    //align-items: right;
    text-align: right;
    width:100%;
    height:22em;
    .img{
      height: 100%;
      margin-right: .8em;
      &:last-child{
        margin-right: 0;

      }
    }
  }

  @media only screen and (max-width: $mini) {
    .pwords{
      width: 100%;
      display: block;
      padding:0;
      .pheader, .pinfo {
        float: right;
        text-align: right;
      }
    }
    .pimg{
      white-space:nowrap;
      overflow-x: scroll;
      height: 16em;
      //display: inline;
      img{
        display: inline;
        //width:100%;
        padding: .6em 0;
      }
    }
  }

  @media only screen and (max-width: $midi) {
    text-align: right;

    .pwords{
      width: 100%;
      display: block;
      padding:0;
      .pheader, .pinfo {
        display: block;
      }
      .pheader{
        text-align: right;
      }
      .pinfo{
        float:right;
      }
    }
    .pimg{
      white-space:nowrap;
      overflow-x: scroll;
      height: 16em;
      //display: inline;
      img{
        display: inline;
        //width:100%;
        padding: .6em 0;
      }
    }
  }

  
}