$blue: #57A6F8;
$green:#404F36;
$yellow: #EFD565;
$orange:#E2A148;
$red:#EE6A64;
$purple:#A770C1;
$pink: #F2A7DD;



$midi: 768px;
$mini: 414px;

.section {
  width: 100%;
  padding: 0 1em 4em 0;
  //height: 3em;
  display: inline-block;
  flex-flow: row wrap;
  position: relative;
  .title-wrapper{
    width: 100%;
    display: inline-block;
    padding-bottom: 1em;
    .title {
      font-family: 'Bungee Shade', Helvetica, Arial, sans-serif;
      font-size: 2.5em;
      font-weight: 400;
      text-align: right;
      color: $green;
    }
    .desc{
      font-family: 'Barlow', Helvetica, Arial, sans-serif;
      font-size: 1em;
      color:darkslategray;
      font-weight: 400;
      text-align: right;
      width: 80%;
      float: right;
      opacity: 0.75;
    }

    //.title, .desc {
      //&.about{color:$blue;}
      //&.dev{color:$green;}
      //&.contact{color:$orange;}
   // }
  }

  .minititle {
    display: block;
    font-family: 'Rajdhani', Helvetica, Arial, sans-serif;
    font-weight: 800;
    color:$orange;
    font-size: 1.5em;
    text-align: right;
    margin: .2 0 0 0;

  }

  .litems{
    overflow-x: hidden;
  }

  
}
