$blue: #57a6f8;
$green: #485a3c;
$yellow: #efd565;
$orange: #f7a635;
$red: #ee6a64;
$purple: #a770c1;
$pink: #f2a7dd;
$grey: #778686;

$midi: 768px;
$mini: 414px;

.section {
  width: 100%;
  margin: 0 0 4em 0;
  //height: 3em;

  display: inline-block;
  flex-flow: row wrap;
  position: relative;
  // .aboutSection, .contactSection{
  padding: 1em 0 0 0;
  //border: .2em solid #d7d8d9;
  //background-color: #d7d8d9;
  //border-radius: 1em;
  .catArea {
    background: linear-gradient(to bottom, lightgray, rgba(0, 0, 0, 0));
    border-radius: 1em;
    margin-top: -2em;
    .list-item-wrapper {
      border: none;
      padding: 1em 0 2em;
      margin: 0 0 2em 0;
      .pinfo {
        font-weight: 400;
      }
    }
  }
  .content {
    border: 1px solid lightgray;
    border-bottom: none;
    border-radius: 1em;
    padding-bottom: 0.5em;
    &.contact {
      background: linear-gradient(to bottom, lightgray, rgba(0, 0, 0, 0) 50%);
    }
    &.work {
      background: linear-gradient(to bottom, lightgray, rgba(0, 0, 0, 0) 5%);
    }
    &.about {
      background: linear-gradient(to bottom, lightgray, rgba(0, 0, 0, 0) 50%);
    }
  }
  //}
  .title-wrapper {
    width: 100%;
    display: inline-block;
    padding: 0 2em 1em;
    margin: 1em;
    .title {
      font-family: "Bungee Hairline", Helvetica, Arial, sans-serif;
      font-size: 2.2em;
      font-weight: 800;
      text-align: right;
      color: black;
      &.bright {
        //color: black;
      }
    }

    .desc {
      padding: 0 0 0.5em 0;
      font-family: "Rajdhani", Helvetica, Arial, sans-serif;
      font-size: 1em;
      color: $grey;
      font-weight: 500;
      line-height: 1.2;
      text-align: right;
      width: 80%;
      float: right;
    }

    //.title, .desc {
    //&.about{color:$blue;}
    //&.dev{color:$green;}
    //&.contact{color:$orange;}
    // }
  }

  .catLabel{
    text-align: left;
    margin: 2em 0 0 2em;
    //padding: 2em 0 0 2em;
    font-family: "Barlow", Helvetica, Arial, sans-serif;
    color: gray;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1;
  }

  .minititle {
    display: block;
    font-family: "Rajdhani", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    font-size: 1.5em;
    letter-spacing: 2px;

    text-align: left;
    padding: 0;
    margin-left: 1.25em;
  }

  .litems {
    //border: 1px solid gray;
    overflow-x: hidden;
  }

  .topLink{
    width: 100%;
    padding: 1em;
    margin: -6em 0 6em 0;
    
    text-align: right;
    text-transform: uppercase;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-size: .8em;
    letter-spacing: 0.1em;
    
    font-weight: 600;
    color: $grey;
  }


  @media only screen and (max-width: $midi) {
    .catArea {
      margin-top: 0;
      .pinfo {
        padding: 0 1em;
      }
    }
    .minititle {
      margin: 0 0 1em 0;
      padding: 0;
    }
    .catLabel{
      padding: 0em;
      margin: 2em 0 0;
    }
    .title-wrapper {
      margin-bottom: 0;
      padding-bottom: 0;
      .title {
        font-size: 2.1em;
      }
      .desc {
        width: 100%;
      }
    }

    .content {
      border: none;
      &.work{
        background: none;
      }
    }
  }
}
